<h3>Create a Post: </h3>
<a href="/">Home</a>
<form action='/create_post'
method='post'>
title: <input type='text' name='title'>
content: <textarea name='content' rows='4' cols='50'></textarea>
url: <input type='url' name='url'>
<input type='submit' name='Submit'>
</form>
