<h1>Hacker News Clone</h1>
<a href="/login">Login</a>
<a href="/logout">Logout</a>
<a href="/create_post">Create Post</a>
<a href="/profile">Profile</a>

<ol>
<% posts = Post.all %>
<% posts.reverse.each do |post| %>
<li><a href=<%= post.url %>><%= post.title %></a><br><a href="/comment/<%= post.id%>">Discuss</a></li>
<% end %>
</ol>
