<h3>Profile</h3>
<a href="/">Home</a>
<p>Username: <%= user = User.find(session[:id]).username %></p>

<a href="/view_comments_by_user/<%= user %>">View all Comments</a>
<a href="/view_posts_by_user/<%= user %>">View all Posts</a>
